doctype html
html( lang="en" )
  head
    meta( charset="utf-8" )
    meta( http-equiv="X-UA-Compatible" content="IE=edge" )
    title Next 34
    link( rel="stylesheet" href=getRevisionedPath('/assets/stylesheets/application.css') )
  body
    block content
    small Built for #{ environment }
